@import '../../utils/vars'

.container
  padding: 4rem 2rem

.content
  @media(min-width: 60em)
    display: flex
    align-items: center
    max-height: 800px;

.imageWrap
  width: 100%
  margin:0 5% 5% 0

.title
  font-family: Sporting, sans-serif
  font-size: type.two
  color: colors.blue
  letter-spacing: 0.08em
  line-height: 1.25
  text-transform: uppercase
  margin: 2rem 0
  @media (min-width: 40em)
    font-size: type.four 

.showText
  font-size: type.two
  color: colors.grey
  line-height: 1.25
  @media(min-width: 60em)
      font-size: type.three

.showDesc
  margin-top: 2rem
  line-height: 1.5

.cta
  margin-top: 4rem
  margin-bottom: 2rem

  a 
    font-family: Sporting, sans-serif
    font-size: type.one
    letter-spacing: 0.08em
    color: colors.blue
    text-transform: uppercase
    text-decoration: none
    border-bottom: 4px solid colors.blue
    