@import '../../utils/vars'

.container
  padding: 4rem 2rem

.title
  font-family: Sporting, sans-serif
  font-size: type.two
  color: colors.blue
  letter-spacing: 0.08em
  line-height: 1.25
  text-transform: uppercase
  margin: 2rem 0
  @media (min-width: 40em)
    font-size: type.four 

.showText
  font-size: type.two
  color: colors.grey
  line-height: 1.25
  @media(min-width: 40em)
      font-size: type.three

.cta
  margin-top: 4rem
  margin-bottom: 2rem

  a 
    font-family: Sporting, sans-serif
    font-size: type.one
    letter-spacing: 0.08em
    color: colors.blue
    text-transform: uppercase
    text-decoration: none
    border-bottom: 4px solid colors.blue
    