@import '../../utils/vars'

.container
  padding: 4rem 2rem

.content
  @media(min-width: 60em)
    max-height: 800px;


.cta
  text-align: center
  margin: 1rem auto

  a 
    font-family: Sporting, sans-serif
    font-size: type.one
    letter-spacing: 0.08em
    color: colors.blue
    text-transform: uppercase
    text-decoration: none
    border-bottom: 4px solid colors.blue
    