@import '../../utils/vars'

.wrapper
  margin: 8rem 4rem 2rem 4rem

h1
  font-family: Sporting, sans-serif
  font-size: type.two
  color: colors.blue
  letter-spacing: 0.08em
  line-height: 1.25
  text-transform: uppercase
  margin: 2rem 0
  @media (min-width: 790px)
    font-size: type.three

.grid  
  margin-top: 6rem
  // @media (min-width: 960px)
  //   display: grid
  //   grid-template-columns: 1fr 1fr
  //   grid-gap: 64px
  // @media (min-width: 1280px)
  //   grid-template-columns: repeat(3, 1fr)

.entry 
  margin-bottom: 2rem
  // position: relative
  @media(min-width: 720px)
    display: flex;

  img
    max-height: 360px
    height: auto
    margin: 0 5% 5% 0
  

  h3
    font-family: Sporting, sans-serif
    font-size: type.one
    margin-bottom: 0.5rem

  h4
    // position: absolute
    // top: -2em
    margin-bottom: 1rem;
    color: #BC566B
    font-size: type.one
  

.description
  margin: 1rem 0
  font-size: 16px

