@import '../../utils/vars';

.container 
  position: fixed
  top: 0%
  left: 50%
  transform: translateX(-50%)
  width: 100%
  max-width: 1440px
  padding: 2.5rem 2rem 2rem 2rem
  display: flex
  justify-content: space-between
  align-items: baseline
  font-family: Sporting, sans-serif
  font-size: type.zero
  text-transform uppercase
  letter-spacing: 0.08em
  color: colors.text
  z-index: 2

.logo
  display: flex
  align-items: center
  a
    text-decoration none
    color: colors.text

.bar
  margin-left: 16px
  display: inline-block
  height: 2px
  width: 48px
  background: colors.text

.contact
  text-decoration: none
  color: colors.text

.links
  display: flex
  > :not(:last-child)
    margin-right: 0.5rem

.icon
  width: 16px
  height: 16px
  margin: 0 0 0 8px