@import '../../utils/vars';

.container 
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 2rem
  display: flex
  justify-content: space-between
  align-items: baseline
  font-family: Sporting, sans-serif
  font-size: type.zero
  text-transform uppercase
  letter-spacing: 0.08em
  color: colors.text
  z-index: 2

.logo
  display: flex
  align-items: center
  a
    text-decoration none
    color: colors.text

.bar
  margin-left: 16px
  display: inline-block
  height: 2px
  width: 48px
  background: colors.blue
